<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="Product">mediaD3.0</Property>
        <Property name="AppName">platform_extraction_web</Property>
        <Property name="AppVersion">2.0</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="[${Product}@${AppName}@${AppVersion}] %d{yyyy-MM-dd'T'HH:mm:ssZZ} %-5p [%t] %C{-1}.%M(%F:%L) - %m%n"/>
        </Console>

        <!--<RollingFile name="RollingFile" fileName="@logPath@/extraction-web.log"-->
                     <!--filePattern="@logPath@/archive/extraction-web-%d{yyyy-MM-dd HH-mm-ss}-%i.log.gz">-->
        <RollingFile name="RollingFile" fileName="/home/site/wwwroot/logs/extraction-web.log"
                     filePattern="/home/site/wwwroot/logs/archive/extraction-web-%d{yyyy-MM-dd HH-mm-ss}-%i.log.gz">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--<PatternLayout pattern="[%p] %d{yyyy-MM-dd HH:mm:ss,SSS} %class{36}.%M line %L: %m%n"/>-->
            <PatternLayout
                    pattern="[${Product}@${AppName}@${AppVersion}@${sys:Source}}] %d{yyyy-MM-dd'T'HH:mm:ssZZ} %-5p [%t] %C{-1}.%M(%F:%L) - %m%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

    </Loggers>
</Configuration>
